<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\ciclos.pablo\Programacion\PRO01-EJERCICIOS\PROQ11 02 - TresEnRaya\TresEnRaya.jar</jar>
  <outfile>C:\Users\ciclos.pablo\Programacion\PRO01-EJERCICIOS\PROQ11 02 - TresEnRaya\TresEnRaya.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\ciclos.pablo\Downloads\6796241.ico</icon>
  <jre>
    <path>C:\Program Files\Common Files\Oracle\Java\javapath\javac.exe</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>true</requires64Bit>
    <minVersion>25.0.1</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>